:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
form {
  padding-left: 50px;
}
label {
  display: block;
  width: 6em;
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
}
/*
button {
  font-family: Arial, sans-serif;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}*/
@media screen and (max-width: 575px) {
  form {
    padding-left: 15px;
  }
}
